<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<title>form post destination page</title>
		
		<!-- import jQuery -->
		<script type="text/javascript" th:src="@{/js/external/jquery-3.6.0.min.js}"></script>
		<!-- import Semantic UI -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/external/semantic.min.css}">
		<script type="text/javascript" th:src="@{/js/external/semantic.min.js}"></script>
		
		<!-- original css -->
		<link type="text/css" rel="stylesheet" th:href="@{/css/common.css}">
	</head>
	<body class="base">
		<div class="ui text container">
			<h1 class="ui header">DBからテーブル「FirstTable」の内容を取得し、下記に表示</h1>
			<div class="ui stackable two column grid">
				
			</div>
		</div>
	</body>
</html>